<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutTestSize="true"
    checkForUnintentionallyCoveredCode="true"
    beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="RedisMq Test Suite">
            <directory>tests/RedisMq/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="REDIS_SERVER_HOST" value="127.0.0.1" />
        <const name="REDIS_SERVER_PORT" value="6379" />
    </php>
	
</phpunit>
